body {
    font-family: Arial, sans-serif;
}

#container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

#manipulate, #create-append, #remove, #modify, #events {
    margin-bottom: 20px;
}

.highlight {
    padding: 10px;
    background-color: lightgrey;
}

#interactive-paragraph {
    padding: 10px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

#interactive-paragraph.hovered {
    border: 2px solid blue;
}
